body {
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.loaderBox {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  top: 50%;
  margin: -140px auto;
  width: 320px;
  height: 280px;
  z-index: 1;
  left: 0;
  right: 0;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.loaderContainer {
  width: 150px;
  margin: 20px auto;
}

.loaderBox h3 {
  margin-top: 50px;
}

.menubar {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 40px auto;
  width: 720px;
  z-index: 2;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px;
}


/* Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: auto !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.icon-link {
  float: left;
  margin-left: 60px;
  color: #ffffff;
}

.sociallinks {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.header {
  color: #ffffff;
  margin: 0;
}

.select-header {
  color: #ffffff;
  margin-bottom: 0;
}

.menu-select{
  width: 100%;
}

.postalDetails {
  width:240px;
  height:190px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.postalDetails h2 {
  margin: 0;
}
.postalDetails h3 {
  margin: 0 0 4px 0;
}